/* 使用网格布局对图元素进行排版 */
div.graph>div.plotTitle,
div.grid-graph>div.plotTitle {
    grid-area: plotTitle;
    font-size: 22px;
    font-family: NotoSansCJK-Bold;
    font-weight: bold;
    display: flex;
    display: -webkit-flex;
    /* flex-direction: column; */
}

div.graph>div.plotTitle>p,
div.grid-graph>div.plotTitle>p {
    margin: auto;
}


g.pathContainer path,
g.polylines polyline,
text.polarPieLabel {
    transition: all 2s ease;
}

text.polarPieLabel {
    transition: all 1s ease;
}

div.graph>select.plotDropdown {
    grid-area: plotDropdown;
    font-size: 18px;
    font-family: NotoSansCJK-Bold;
    width: 10%;
    color: #000;
}

div.graph>div.plotMain,
div.grid-graph>div.plotMain {
    grid-area: plotMain;
    position: relative;
}

div.graph>div.plotTip {
    display: -webkit-flex;
    grid-area: plotTip;
    display: flex;
}

div.grid-graph>div.plotTip {
    display: -webkit-flex;
    grid-area: plotTip;
    display: flex;
}

div.grid-graph>div.plotTip>i,
div.graph div.plotTip i {
    font-family: SourceHanSerifCN-Regular;
    color: #222;
    font-size: 16px;
    margin: auto;
    font-weight: italic;
}

div.graph>div.plotFooter,
div.grid-graph>div.plotFooter {
    grid-area: plotFooter;
    display: flex;
    display: -webkit-flex;
    /* align-items: center;
    justify-content: flex-start; */
}

div.plotFooter>p {
    /* align-self: center; */
    /*  justify-self: flex-start; */
    margin-top: auto;
    font-size: 18px;
    font-family: NotoSansCJK-Bold;
    color: #000;

}

.graph {
    height: 768px;
    display: grid;
    grid:
        "plotTitle"
        "plotTip"
        "plotDropdown"
        "plotMain"
        "plotFooter";
    background-color: transparent;
    grid-template-rows: 1fr 0.5fr 0.5fr 10fr 1fr;
}

.graph>div,
.grid-graph>div {
    background-color: transparent;
    /* border: 1px solid #000; */
    /* padding: 10px; */
    font-size: 12px;
    text-align: center;
}

/* 网格布局2 */
div.grid-graph {
    max-width: 768px;
    margin: auto;
    display: grid;
    grid:
        "plotTitle"
        "plotTip"
        "plotMain"
        "plotFooter";
    background-color: transparent;
    grid-template-rows: 1fr 0.5fr 12fr 1fr;
    height: 768px;
}

g.x-axis text {
    font-size: 14px;
    transform: rotate(-45deg);
    text-anchor: end;
}

g.y-axis text,
g.y-axis2 text {
    font-size: 14px;
}

g.plot * {
    cursor: pointer;
}

div.tootip {
    width: auto;
    height: auto;
    border: 1px solid #000;
    position: absolute;
    transition: opacity 1s ease;
    opacity: 0;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: NotoSansCJK-Bold;
    font-size: 15px;
    /* transform: translate(329px,2px); */
}

g.y-axis,
g.x-axis {
    font-family: NotoSansCJK-Bold;
}

g.legend text {
    font-family: NotoSansCJK-Bold;
    font-size: 16px;
    font-weight: bold;
}

g.plot>g {
    transition: opacity 0.5s ease
}

div.ParallaxFloating {

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #fff; */
    /* background-color:#fff; */

}

div.ParallaxFloating>div:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 2 !important;
}

div.floatItem {
    flex: 1;
    border-radius: 5px;
    background-color: var(--floatBg);
    display: flex;
    display: -webkit-flex;
    margin-bottom: 300px;
    /* line-height: 55px; */
    z-index: 88;
}

.floatItem>p {
    margin: auto;
    vertical-align: center;
    padding: 5px 10px;
    color: #fff;
}

div#scatterHeatMap,
div#simpleBarChartContainer {
    position: sticky;
    top: 0;
    z-index: 2 !important;
}

div#mapPlotContainer,
div#forceCircleContainer,
div#simpleBarChartContainer {
    height: 80vh;
}

/* div#mapPlotContainer>div{
    border: 1px solid #000
} */

/* div.graph{
    max-width:768px;
} */

#simpleBarChart {
    height: 80vh !important;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;

    background-color: transparent;
    z-index: 1;
}

.bars {
    flex: 18;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-around
}

.xaxis {
    flex: 2;
    width: 100%;
    /* background-color: #000; */
    display: flex;
    justify-content: space-around
}

.barItem {
    /* background-color: red; */
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    justify-content: space-around;
    align-content: space-around;
    align-self: flex-end;
    cursor: pointer;
}

.xlabel {
    /* border: 1px solid red; */
    height: 100%;
    flex: 1;
    margin: 0 auto;
    text-align: center;
    padding: 2.5px 0;
    font-size: 18px;
    color: #000;
    font-weight: bold
}

@media (max-width:400px) {
    .xlabel {
        font-size: 12px;
        color: #000;
        padding: 0;
        transform: scale(0.5);
    }

    div.graph>select.plotDropdown {
        font-size: 12px;
        width: 20%;
    }

    #waffle>div.plotMain>div.legend>div>div {
        border-radius: 2.5px;
    }
}

.circle {
    /* background-color:aqua; */
    border-radius: 50%;
    flex-wrap: wrap;
    overflow: hidden;
}

div#forceCircle>svg {
    width: 100%;
    height: 100%;
}

/* div#plot > div.plotMain{
    background-image: url("./img/huamnkidney.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */

div#stackBarWithLine2 {
    /* width: 768px; */
    position: sticky;
    top: 0;
    z-index: 2 !important;
}

svg {
    padding: 0;
}

#waffle>div.plotMain {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#waffle>div.plotMain>div {
    /* border: 1px solid red; */
    justify-content: space-between;
    align-content: space-around;
}


#waffle>div.plotMain>div.legend {
    display: -webkit-flex;
    display: flex;
}

#waffle>div.plotMain>div.legend {
    flex: 1;
}

#waffle>div.plotMain>div.legend>div {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#waffle>div.plotMain>div.legend>div>div {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #999;
}

#waffle>div.plotMain>div.legend>div>p {
    font-size: 16px;
    font-weight: bold;
    font-family: NotoSansCJK-Bold;
    line-height: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

#waffle>div.plotMain>div:nth-child(2) {
    display: -webkit-flex;
    display: flex;
    flex: 9;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    overflow: hidden;
}

div.waffleDiv {
    border: 2.5px solid #fff;
    border-radius: 5px;
    /* background-color: red; */
    overflow: hidden;

    /* align-self: flex-end; */
    cursor: pointer;
    /* padding:5px 5px; */
    border-right: transparent;

}

div#meetingPlot div.tootip {
    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    border: none;
}

div#meetingPlot>div.plotMain>div.tootip>p {
    margin: auto !important;
    font-family: NotoSansCJK-Bold;
    font-weight: bold;
    font-size: 26px;
}

div#meetingPlot>div.plotMain>div.tootip>p:nth-child(1) {
    font-size: 36px;
}

div.ParallaxFloating>div.stickPlot {
    position: sticky !important;
    top: 0;
    z-index: 2 !important;
}

div.flourish-chart {
    max-width: 768px;
}

div#horizontalLollipop text.label {
    font-size: 18px;
    font-weight: lighter;
}

g.hLollipopCircle>circle,
g.hLollipopLine>line,
g.label text.label {
    transition: all 1s ease;
}

div.plotMain text {
    font-family: NotoSansCJK-Bold;
}

path.acePath {
    transition: all 1s ease;
    cursor: pointer;
}

text.labelText {
    font-family: NotoSansCJK-Bold;
    font-size: 16px;
    fill: #fff;
}

div#forceCircleContainer {
    max-width: 768px;
}


@media (max-width:767px) {

    div.graph>div.plotTitle,
    div.grid-graph>div.plotTitle {
        grid-area: plotTitle;
        font-size: 16px;
    }

    .xlabel {
        font-size: 14px;
    }

    #waffle>div.plotMain>div.legend>div>p {
        font-size: 10px;
        padding-left: 0.5px;
        line-height: 15px;
        height: 15px;
    }

    div.waffleDiv {
        border: 1.5px solid #fff;
        border-radius: 2.5px;
    }

    text.labelText {
        font-family: NotoSansCJK-Bold;
        font-size: 12px;
        fill: #fff;
    }

    g.x-axis text {
        font-size: 9px;
    }

    g.y-axis text,
    g.y-axis2 text {
        font-size: 9px;
    }

    div.plotFooter>p {
        /* align-self: center; */
        /*  justify-self: flex-start; */
        margin-top: auto;
        font-size: 12px;
    }

    div#horizontalLollipop text.label {
        font-size: 12px;
        font-weight: lighter;
    }

    text.label {
        font-size: 12px;
        font-weight: lighter;
    }

    div#meetingPlot>div.plotMain>div.tootip>p {
        font-size: 16px;
    }

    div#meetingPlot>div.plotMain>div.tootip>p:nth-child(1) {
        font-size: 24px;
    }


}

div#iconBar>div.plotMain {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

/* 带图例的会议图 */
div#meetingplot div.plotMain {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

div#meetingplot div.plotMain>div.legend {
    flex: 0.5;
    display: -webkit-flex;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

div#meetingplot div.plotMain>div:nth-child(2) {
    flex: 8;
    /* background-color:red */
}

/* div#meetingplot div.plotMain > div {
    border: 1px solid red
} */

div#meetingplot div.plotMain>div.legend>div {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
}

div#meetingplot div.plotMain div.legend>div {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div#meetingplot div.plotMain div.legend>div>div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #999;
}

div#meetingplot div.plotMain div.legend>div>p {
    font-size: 16px;
    font-weight: bold;
    font-family: NotoSansCJK-Bold;
    line-height: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

div#meetingplot div.tootip {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    border: none;
}

div#meetingplot div.tootip>p {
    font-family: NotoSansCJK-Bold;
    font-size: 24px;
    font-weight: bold;
    margin: auto;
}

div#meetingplot div.tootip>p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

g.plot text {
    font-size: 16px;
}

@media (max-width:767px) {
    div#meetingplot div.plotMain div.legend>div>p {
        font-size: 12px;
        line-height: 15px;
        height: 15px;
    }

    g.plot text {
        font-size: 10px;
    }

    div#meetingplot div.tootip>p {
        font-size: 16px;
    }

    div#meetingplot div.tootip>p:nth-child(1) {
        font-size: 20px;
    }

}

g.circularBar path,
g.simpleCircularBarLabel text {
    transition: all 0.85s ease;
}

div#simpleCircularBar {
    height: 100vh;
}

g.simpleCircularBarLabel text {
    font-family: NotoSansCJK-Bold;
    font-size: 14px;
}

/* div.plotMain > div.tootip{
    border: none;
} */

circle.forceCircle {
    transition: all 0.8s ease;
}

div#circularStackBar div.plotMain {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

div#circularStackBar div.plotMain>div.legend {
    flex: 0.5;
    display: -webkit-flex;
    display: flex;
}

div#circularStackBar div.plotMain>div:nth-child(2) {
    flex: 8;
    /* background-color:red */
}

/* div#meetingplot div.plotMain > div {
    border: 1px solid red
} */

div#circularStackBar div.plotMain>div.legend>div {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
}

div#circularStackBar div.plotMain div.legend>div {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div#circularStackBar div.plotMain div.legend>div>div {
    width: 15px;
    height: 15px;
    border-radius: 2.5px !important;
    background-color: #999;
}

div#circularStackBar div.plotMain div.legend>div>p {
    font-size: 16px;
    font-weight: bold;
    font-family: NotoSansCJK-Bold;
    line-height: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

div#circularStackBar text {
    font-family: NotoSansCJK-Bold;
    font-size: 10px;
}

text.barLabel {
    font-size: 12px;
    /* alignment-baseline: middle; */
    fill: #000
}

div#circularStackBar {
    height: 90vh;
}

div#circularStackBar div.plotMain {
    max-width: 100vw;
}

div#stackBarWithLine svg g.legend line {
    stroke-width: 3.5px;
}

div#stackBarWithLine svg g.linePlot path {
    stroke-width: 2.5px;
}

@media (max-width:767px) {
    div#circularStackBar text {
        font-size: 6px;
    }

    div#stackBarWithLine svg g.legend line {
        stroke-width: 1.5px;
    }

    div#stackBarWithLine svg g.linePlot path {
        stroke-width: 1.35px;
    }

    div#circularStackBar div.plotMain div.legend>div>p {
        font-size: 12px;
    }

    g.simpleCircularBarLabel text {
        font-size: 10px;
    }

    g.legend text {
        font-family: NotoSansCJK-Bold;
        font-size: 8px;
    }

    #waffle>div.plotMain>div.legend>div>div {
        border-radius: 1.5px;
    }
}

g.barGroup {
    cursor: pointer;
    transition: all 1s ease-in-out
}

div.plotly {
    width: 100%;
    height: 768px
}

div.plotly iframe {
    width: 100%;
    height: 768px;
}

#mapPlotLegend {
    /* border: 1px solid black; */
    height: 25px;
    font-family: NotoSansCJK-Bold;

    display: flex;
    flex-direction: row;
}

#mapPlotLegend > div {
    /* border: 1px solid red; */
    height: 25px;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div#mapPlotLegend div.mapPlotLegendMarker{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* div#mapPlotLegend div.mapPlotLegendMarker:nth-child(1){
    background-color: rgb(165,0,38);
}

div#mapPlotLegend div.mapPlotLegendMarker:nth-child(2){
    background-color: blue;
} */